.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.tasty {
	color: var(--primary-black);
	z-index: 2;
	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.1;
		filter: drop-shadow(18px -13px 16px var(--primary-black));
	}
	@media screen and (max-width: 1225px) {
		display: none;
	}
}

.logo {
	height: auto;
	margin: 2rem;
	z-index: 2;
	color: var(--primary-black);
}

.yandex {
	color: var(--primary-black);
	z-index: 2;
	transition: all 0.2s ease-in-out;

	&:hover {
		scale: 1.1;
		filter: drop-shadow(18px -13px 16px var(--primary-black));
	}
	@media screen and (max-width: 1225px) {
		display: none;
	}
}
