.svg {
    path:nth-child(10) {
		animation: blink 0.3s ease-in-out 2, movi 3s ease-in-out 1.5s infinite;
		animation-delay: 1s;
	}
	path:nth-child(12) {
		animation: blink 0.3s ease-in-out 2, movi 3s ease-in-out 1.5s infinite;
		animation-delay: 1s;
	}

	@keyframes blink {
		0% {
			opacity: 1;
			
		}
		100% {
			opacity: 0;
		}
	}
	@keyframes movi {
		0% {
			transform: translateX(0%);
		}
		48% {
			opacity: 1;
		}
		50% {
			transform: translateX(-5%);
		}
	}
}